
*{
  margin: 0px;
  padding: 0px;
}
.items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.searchBtn:hover{
  cursor : pointer;
}
.searchBtn{
  margin: 15px;
}
.recipe-card{
  margin: 20px 20px;
  height: 73vh;
  background-color: lightgray;
  border-radius: 15px;
}
.recipe-title{
  text-align: center;
}

.recipe-card-image{
  width: 350px;
  height: 300px;
  border-radius: 15px;
}
.recipe-card-title{
  /* text-align: center; */
  width:280px;
  height: 75px;
  padding-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.recipe-card-description{
  text-align: center;
  padding-bottom: 8px;
}